

.print-btn {
  position: sticky!important;
  bottom: 50px!important;
  font-size: 1rem!important;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print and (orientation: landscape){
  html, body {
    -webkit-print-color-adjust: exact;
  }

  @page {
    size: 8.5in 15in landscape;
  }
  .id-card {
    border: 1px solid black!important;
  }

  .id-card:nth-child(9n){
    margin-bottom:230px!important;
  }

  .boxes {
    margin-top: 1rem;
    margin-bottom:1rem;
    border-left: 1px solid white!important;
  }
}

